

body {
   background-image:url("https://i.pinimg.com/originals/03/e5/d5/03e5d5f8acfad8cc346056228a8d9b2c.png");

}
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 1;
}

section.normal {
   width: 600px;height: 100px;
   background-color: rgb(228, 151, 143);
   border-radius: 25px;
   padding: 20px;
   padding-bottom: 40px;
   margin: auto;

}
section.two {
   width: 600px;height: 100px;
   background-color: rgb(190, 65, 156);
     opacity: .9;
   border-radius: 25px;
   padding: 20px;
   padding-bottom: 40px;
   margin: auto;
}
section.three {
   width: 600px;height: 100px;
   background-color: rgb(192, 24, 96);
    opacity: .8;
   border-radius: 25px;
   padding: 20px;
   padding-bottom: 40px;
   margin: auto;
}
section.four {
   width: 600px;height: 100px;
   background-color: rgb(54, 217, 217);
   border-radius: 25px;
   padding: 20px;
   padding-bottom: 40px;
   margin: auto;
}
/* all my CSS elements! */
div.center {
    position: absolute;
    left: 0;
    top: 32%;
    width: 100%;
    text-align: center;
    opacity:1;

}

h1 {
   color: #772953;
   text-align: center !important;
   font-size: 50px;

}
h1.first {
  color:rgb(228, 151, 143);
  text-align: center !important;
  font-size: 50px;
}
h1.second {
  color:rgb(190, 65, 156);
  text-align: center !important;
  font-size: 50px;
}
